@model ProjetoFinal.Models.Procedimento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Procedimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedimentoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedimentoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedimentoObservacaoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedimentoObservacaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProcedimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProcedimento.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProcedimentoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
