@model ProjetoFinal.Models.ProcedimentoRealizado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>ProcedimentoRealizado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.CidadeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProcedimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProcedimento.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoColaborador.TipoColaboradorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalRealizacao.LocalRealizacaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRealizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoRealizacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
